@model SelectsViewModel

@Html.Partial("_SelectsPartial", Model)

<button id="btnBuscar">Buscar</button>

<div id="rows-amount">
    <label for="rowsSelect">Mostrar filas:</label>
    <select id="rowsSelect">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>

<div id="resultadosParciales"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/results-search.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        resultsSearch(); // Llama a resultsSearch una vez que el DOM está completamente cargado
    });
</script>
