@model SelectsViewModel

@Html.Partial("_SelectsPartial", Model)

<button id="btnBuscar">Buscar</button>

<div id="resultadosParciales">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/search.js"></script>
<script>
    // Llama a la función search después de que se cargue el archivo js
    search();
</script>