/* Login */

.logout-btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px !important;
    margin-top: 0 !important;
}

.success {
    border-color: #04AA6D;
    color: green;
}

.form-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
}

.login-container, .account-container {
    margin: 0 10px;
}

#loginForm {
    width: 100%;
    height: 100%;
    /*max-width: 400px;*/
    padding: 2rem;
    background-color: #3d3d3d;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-title, .register-title, .change-pwd-title {
    color: #ffc100;
}

/* Input Styles */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

    input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
        border-color: #3b82f6;
        outline: none;
    }

/* Button Styles */
button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #2d488c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
        background-color: #081360;
    }

/* Label Styles */
.custom-form-label {
    font-weight: bold;
    color: white;
    display: block;
    margin-top: 1rem;
}

.account-container {
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.welcome-title {
    text-align: center;
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

    .welcome-title span {
        font-weight: bold;
        color: #edc130;
    }

.information-text {
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
}

.new-account-container, .forget-password-container {
    text-align: justify;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

    .new-account-container p, .forget-password-container p {
        margin: 10px 0;
    }

        .new-account-container p a,
        .forget-password-container p a {
            color: #edc130;
            font-weight: bold;
            text-decoration: none;
        }

            .new-account-container p a:hover,
            .forget-password-container p a:hover {
                text-decoration: underline;
            }

.password-container {
    position: relative;
    width: 100%; /* Ajusta el ancho según lo necesites */
}

    .password-container input {
        width: 100%; /* El campo de texto ocupa todo el ancho disponible */
        padding-right: 30px; /* Espacio a la derecha para el ícono */
    }

    .password-container i {
        position: absolute;
        right: 10px; /* Distancia desde el borde derecho */
        top: 50%;
        transform: translateY(-50%); /* Centra el ícono verticalmente */
        cursor: pointer;
        color: #3d3d3d;
    }

@media (max-width: 995px) {
    .account-container {
        padding: 15px;
    }

    .main-text-container p {
        font-size: 1rem;
    }

    .new-account-container p,
    .forget-password-container p {
        font-size: 0.9rem;
    }
}

/* Register, Change Password*/
#registerForm, #changePwdForm {
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #3d3d3d;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.register-container, .change-password-container {
    justify-items: center;
}

/* Error Messages */
.validation-summary-errors {
    color: #ff4d4d;
    background-color: #ffe5e5;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 1rem;
}

/* Sucess Message */

.success-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 5px auto;
}

