/* Estilo para la tabla de resultados */

#TitleContainer p {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#resultadosTableContainer {
    max-height: 275px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

    /* Estilo del scrollbar para el contenedor de la tabla */
    #resultadosTableContainer::-webkit-scrollbar {
        width: 8px; 
    }

    #resultadosTableContainer::-webkit-scrollbar-thumb {
        background-color: #4CAF50;
        border-radius: 5px;
    }

    #resultadosTableContainer::-webkit-scrollbar-thumb:hover {
        background-color: #45a049;
    }

    #resultadosTableContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    #resultadosTableContainer p {
        text-align: center;
        margin: 5px 0;
        font-weight: bold;
        color: #5b5b5b;
    }

#resultadosTable {
    width: 100%;
    border-collapse: collapse;
}

#resultadosTable th, #resultadosTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#resultadosTable th {
    background-color: #4CAF50;
    text-align: center;
    color: white;
}

#resultadosTable tr:hover {
    background-color: #f5f5f5;
}

#votosTotalesTable {
    width: 100%;
    border-collapse: collapse;
}

#votosTotalesTable th, #votosTotalesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#votosTotalesTable th {
    background-color: #4CAF50;
    text-align: center;
    color: white;
}

#votosTotalesTable tr:hover {
    background-color: #f5f5f5;
}

#rows-amount {
    margin: 10px 0 10px 0;
}

#rows-amount label {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 16px;
}

    .pagination button {
        padding: 8px 12px;
        margin: 0 5px;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid #4CAF50;
        border-radius: 5px;
        background-color: #4CAF50;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .pagination button:hover {
            background-color: #45a049;
        }

    .pagination span {
        font-size: 14px;
    }