html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #393939 !important; /* Cambia este valor al tono de gris que prefieras */
    color: #f0f0f0 !important; /* Ajusta el color del texto si es necesario */
}

body {
    margin-bottom: 10px;
    background-color: #393939; /* Cambia este valor al tono de gris que prefieras */
    color: #f0f0f0; /* Ajusta el color del texto si es necesario */
}

.header-nav-a-link {
    color: white;
    text-decoration: auto;
}

    .header-nav-a-link:hover {
        color: #45a049;
    }