html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #393939 !important;
    color: #f0f0f0 !important;
}

body {
    margin-bottom: 10px;
    background-color: #393939;
    color: #f0f0f0;
}

.navbar .dropdown-menu {
    min-width: auto;
}

.header-nav-a-link {
    color: white;
    text-decoration: auto;
}

    .header-nav-a-link:hover {
        color: #edc130;
    }

.ul-menu-container {
    background-color: #393939;
}

.ul-menu-container li a {
    color: white;
}

    .ul-menu-container li a:hover {
        color: #edc130;
        background-color: #393939;
    }

.navbar-brand-logo {
    width: 65px;
    height: auto;
    vertical-align: middle;
}
