@model TeraFrontendMVC.Models.Account.ChangePassword

<div class="change-password-container">
    <form id="changePwdForm" asp-action="ChangePassword" method="post">

        <h2 class="change-pwd-title">Cambiar Contraseña</h2>

        @* Email Input *@
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        @* Old (current) Password Input *@
        <label asp-for="PasswordActual">Contraseña Actual</label>
        <input asp-for="PasswordActual" type="password" />
        <span asp-validation-for="PasswordActual" class="text-danger"></span>

        @* New Password Input *@
        <label asp-for="PasswordNuevo">Nueva Contraseña</label>
        <input asp-for="PasswordNuevo" type="password" />
        <span asp-validation-for="PasswordNuevo" class="text-danger"></span>

        @* Submit Button *@
        <button type="submit">Cambiar</button>
    </form>
</div>
