@model TeraFrontendMVC.Models.Account.ChangePassword

<div class="change-password-container">
    <form id="changePwdForm" asp-action="ChangePassword" method="post">

        <h2 class="change-pwd-title">Cambiar Contraseña</h2>

        @if (ViewData.ModelState.ContainsKey(string.Empty) && ViewData.ModelState[string.Empty]?.Errors.Any() == true)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <span>@error.ErrorMessage</span>
                }
            </div>
        }

        @* Email Input *@
        <label class="custom-form-label" asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        @* Old (current) Password Input *@
        <label class="custom-form-label" asp-for="PasswordActual">Contraseña Actual</label>
        <div class="password-container">
            <input asp-for="PasswordActual" type="password" id="passwordInput" />
            <i id="togglePassword" class="fa fa-eye"></i>
        </div>
        <span asp-validation-for="PasswordActual" class="text-danger"></span>

        @* New Password Input *@
        <label class="custom-form-label" asp-for="PasswordNuevo">Nueva Contraseña</label>
        <div class="password-container">
            <input asp-for="PasswordNuevo" type="password" id="passwordInput2" />
            <i id="togglePassword2" class="fa fa-eye"></i>
        </div>
        <span asp-validation-for="PasswordNuevo" class="text-danger"></span>

        @* Submit Button *@
        <button type="submit">Cambiar</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        togglePasswordVisibility('passwordInput', 'togglePassword');
        togglePasswordVisibility('passwordInput2', 'togglePassword2');
    </script>
}