@model TeraFrontendMVC.Models.Account.Login

@if (TempData["SucessMessage"] != null)
{
    <div class="success-container alert alert-info alert-dismissible fade show" role="alert">
        @TempData["SucessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="form-container">
    <div class="login-container">
        <form id="loginForm" asp-action="Login" method="post">

            <h2 class="login-title">Iniciar Sesión</h2>

            @if (ViewData.ModelState.ContainsKey(string.Empty) && ViewData.ModelState[string.Empty]?.Errors.Any() == true)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                    {
                        <span>@error.ErrorMessage</span>
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            
            @* Email Input *@
            <label class="custom-form-label" asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            @* Password Input *@
            <label class="custom-form-label" asp-for="Password">Contraseña</label>
            <div class="password-container">
                <input asp-for="Password" type="password" id="passwordInput" />
                <i id="togglePassword" class="fa fa-eye"></i>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            @* Submit Button *@
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
    <div class="account-container">
        <div class="main-text-container">
            <p class="welcome-title">
                Bienvenido a la plataforma <span>Elección 2024</span>
            </p>
            <p class="information-text">
                Accede a datos electorales, consulta resultados regionales y
                colabora en la construcción de una visión transparente para Elección 2024. Solo necesitas una cuenta para ser parte.
            </p>
        </div>
        <div class="new-account-container">
            <p>¿No tienes cuenta? <a asp-action="Register">Regístrate ahora</a>, es rapido y sencillo</p>
        </div>
        <div class="forget-password-container">
            <p>¿Deseas cambiar tu contraseña? <a asp-action="ChangePassword">Cambiala aquí.</a></p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        togglePasswordVisibility('passwordInput', 'togglePassword');
    </script>
}
