@model TeraFrontendMVC.Models.Account.Register

<div class="register-container">
    <form id="registerForm" asp-action="Register" method="post">

        <h2 class="register-title">Registro de Usuario</h2>

        @* Mostrar errores generales *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState[string.Empty]?.Errors)
                {
                    <span>@error.ErrorMessage</span>
                }
            </div>
        }

        @* Name Input *@
        <label class="custom-form-label" asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>

        @* LastName Input *@
        <label class="custom-form-label" asp-for="Apellido">Apellido</label>
        <input asp-for="Apellido" />
        <span asp-validation-for="Apellido" class="text-danger"></span>

        @* Email Input *@
        <label class="custom-form-label" asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        @* Password Input *@
        <label class="custom-form-label" asp-for="Password">Contraseña</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        @* Submit Button *@
        <button type="submit">Registrar</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
