@model SelectsViewModel

<div id="TitleContainer">
    <p>Seleccione Estado, Municipio y Parroquia:</p>
</div>

<!-- Select para Estados -->
<div id="selectContainer">
    <label>Estado:</label>
    <select id="selectEstado">
        <option value="">Seleccione un estado</option>
        @foreach (var estado in Model.States)
        {
            <option value="@estado.CodEdo">@estado.Nombre</option>
        }
    </select>
</div>

<!-- Select para Municipios -->
<div id="selectContainer">
    <label>Municipio:</label>
    <select id="selectMunicipio">
        <option value="">Seleccione un municipio</option>
    </select>
</div>

<!-- Select para Parroquias -->
<div id="selectContainer">
    <label>Parroquia:</label>
    <select id="selectParroquia">
        <option value="">Seleccione una parroquia</option>
    </select>
</div>


